body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: linear-gradient(
    90deg,
    rgb(163, 163, 128),
    rgb(128, 126, 126),
    rgb(255, 255, 224)
  );
}

.wrapper-input {
  width: 400px;
  height: 172px;
  border: 3px solid rgb(18, 119, 119);
  font-size: 30px;
  margin: auto;
  text-align: center;
  position: relative;
  background: linear-gradient(44deg, rgb(158, 55, 55), darkblue);
  border-radius: 5%;
  margin-bottom: 5px;
}

.AddMessage {
  position: absolute;
  bottom: 75px;
  width: 110px;
  right: 36%;
  background: linear-gradient(100deg, rgb(2, 100, 2), rgb(3, 133, 3));
  cursor: pointer;
}

.AddMessage:hover {
  background: linear-gradient(100deg, rgb(84, 179, 7), rgb(6, 124, 2));
  box-shadow: 5px 5px 10px 0.5px;
}
.DeletedAll:hover {
  background: linear-gradient(100deg, rgb(150, 37, 2), rgb(230, 38, 4));
  box-shadow: 5px 5px 10px 0.5px;
}

.DeletedAll {
  position: absolute;
  bottom: 50px;
  width: 110px;
  right: 36%;
  background: linear-gradient(100deg, rgb(192, 47, 2), rgb(99, 16, 1));
  cursor: pointer;
}

#Message {
  position: absolute;
  bottom: 100px;
  right: 27%;
  min-width: 177px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#Message:focus {
  outline: none;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  min-width: 177px;
}

.Div {
  width: 400px;
  height: 85px;
  border: 2px solid black;
  border-radius: 22px;
  margin: auto;
  margin-bottom: 5px;
  text-align: start;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  background-color: transparent;
}

.DivCheckbox {
  width: 15px;
  height: 15px;
  border: none;
  position: absolute;
  right: 45px;
  top: 10px;
}

.Remove {
  position: absolute;
  height: 20px;
  width: 30px;
  right: 10px;
  border-radius: 2px;
  cursor: pointer;
  background-image: url(garbage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(241, 28, 28);
}
